<header>
   <h1 class="headline">
    <%= link_to "CARAVAN", books_path %>
    </h1>
  <a herf="https://bookers-level1.herokuapp.com/books">Books</a>
</h1>
</header>

<body>
<table border="">
　<tr>
　　<th>Title</th>
　　<th>Body</th>
   <th></th>
   <th></th>
   <th></th>
　</tr>
　<tr>
　　<td>xxxxxxx</td>
　　<td>xxxxxxx</td>
   <td><a class="show" href="/books/">Show</a></td>
   <td><a class="edit" href="/books/">Edit</a></td>
   <td><a data-confirm="Are you sure?" class="destroy" rel="nofollow" data-method="delete" href="/books/">Destroy</a></td>
　</tr>

</table>


</body>